---
export const prerender = true;

import { AstroSeo } from '@astrolib/seo';
import Layout from '~/layouts/PageLayout.astro';

import Image from '~/components/Image.astro';
import CTA from '~/components/CTA.astro';

import { sanityClient } from 'sanity:client';
import { PortableText } from 'astro-portabletext';
import { List } from 'astro-portabletext/components';

const metadata = {
  title: 'Blog | J.A Web Design',
};

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`*[_type == "post" && defined(slug.current)]`);
  return posts.map((post) => {
    return {
      params: {
        slug: post.slug.current,
      },
    };
  });
}

const { slug } = Astro.params;
const { title, blockContent } = await sanityClient.fetch(`*[_type == "post" && slug.current == $slug][0]`, { slug });

const components = {
  type: {
    image: Image,
    cta: CTA,
  },
  list: List,
};
---

<AstroSeo title={metadata.title} description="" />
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <section
    class="mt-16 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] min-h-fit dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 z-10 relative">
      <h2
        class="mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl dark:text-white text-left capitalize"
      >
        {title}
      </h2>
    </div>
  </section>

  <!-- Blog Content ******************* -->
  <section class="max-w-screen-xl mx-auto">
    <PortableText value={blockContent} components={components} />
  </section>
</Layout>
