---
import { Icon } from 'astro-icon/components';
import { SITE } from '~/utils/config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], byLocation = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer
  class:list={[
    { dark: theme === 'dark' },
    'relative border-t border-gray-200 dark:border-slate-900 not-prose dark:bg-blue-700',
  ]}
>
  <div class="dark:bg-slate-900 absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-1 gap-y-8 sm:gap-2 py-8 md:py-8">
      <div class="col-span-12 lg:col-span-5">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href={getHomePermalink()}>{SITE?.name}</a>
        </div>
        <div class="text-sm text-muted">
          <p class="py-2">
            J.A. Web Design is an award-winning custom web development and design company located in Edmonton, Alberta. We create tailored websites for small to medium-sized businesses, non-profits,
            entrepreneurs, and outsourcing agencies across Canada.
          </p>
        </div>
        <div class="text-base text-muted">
          {
            secondaryLinks.map(({ text, href }) => (
              <a
                class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
                href={href}
                set:html={text}
              />
            ))
          }
        </div>
       <div class="flex gap-8">
        <div class="mt-4">
          <a
            href="https://www.sortlist.com/agency/j-a-web-design"
            target="_blank"
            style="display:inline-block; width:210px; height:60px;"
            ><img
              src="https://core.sortlist.com//_/apps/core/images/badges-en/badge-flag-white-dark-xl.svg"
              alt="flag"
              loading="lazy"
            /></a
          >
          <!-- Begin: HubSpot Academy - SEO Badge -->
          <div class='academy-badge'>
          <a href='https://app.hubspot.com/academy/achievements/f9zm98cn/en/1/jeffrey-agyepong/seo' title='SEO'>
          <img class="mt-4 rounded" alt="J.A Web Design - SEO certification" src='https://hubspot-credentials-na1.s3.amazonaws.com/prod/badges/user/0c02d12b7f7b4611ac5ba143a0d327b7.png' width="200" height="200" />
          </a>
          </div>
          <!-- End: HubSpot Academy - SEO Badge -->
        </div>
        <div class="mt-4">
          <a href="https://upcity.com/profiles/j-a-web-design#reviews">
            <img src="https://agencyapp-assets.upcity.com/badge/322/full_color/bb4cd9881b7550a4bc1693dbdea62aee.png" width="180px" height="180px" alt="TOP WEBSITE DEVELOPER" loading="lazy" />
            </a>
        </div>

       </div>

      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <h3 class="dark:text-gray-300 font-medium mb-2">{title}</h3>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
      <div class="col-span-12 lg:col-span-3">
        <h3 class="dark:text-gray-300 font-medium mb-2">Contact Us</h3>
        <div class="text-sm dark:text-gray-400">
          <p class="mb-2">
            <span class="font-medium">Email:</span>
            <a href="mailto:hello@jawebdesign.ca" class="hover:underline">hello@jawebdesign.ca</a>
          </p>
          <p>
            <span class="font-medium">Phone:</span>
            <a href="tel:7809837309" class="hover:underline">780 983 7309</a>
          </p>
        
        </div>
      </div>
      {
        byLocation.map(({ title, links }) => (
          <div class="col-span-12 md:col-span-3 lg:col-span-2">
            <h3 class="dark:text-gray-300 font-medium mb-2">{title}</h3>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>

    <div class="md:flex md:items-center md:justify-between py-6 md:py-4">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }

      <div class="text-sm mr-4 dark:text-muted">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
