---
import projectsData from '../api/projects.json';
---

<astro:fragment>
  <section id="projects" class="projects dark:bg-blue-900 pt-8 pb-4">
    <div class="container py-2 lg:px-8 px-4 mx-auto">
      <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl text-center">
        Projects
      </h2>
      <div class="mx-auto grid w-full grid-cols-1 gap-8 pt-8 pb-12 sm:w-4/4 md:gap-7 lg:w-6/6 lg:grid-cols-3">
        {
          projectsData.projects.map((project) => (
            <a
              href={project.link}
              target="_blank"
              rel="noopener noreferrer"
              key={project.id}
              class="mx-auto transform transition-all hover:scale-105 md:mx-0 bg-slate-900 shadow-lg dark:bg-ternary-dark rounded-xl project-card hover:drop-shadow-3xl"
            >
              <img
                src={project.image}
                alt={`${project.title} - J.A Web Design`}
                class="w-full shadow rounded-t-xl object-fit"
               width="800" height="533"
              />

              <div class="px-4 py-6">
                <p class="font-general-semibold text-xl text-white font-semibold mb-2">{project.title}</p>
                <p class="font-general-medium text-sm text-white">{project.description}</p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</astro:fragment>
